<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="/views/products">eCommerce</a>
        <div class="btn-group">
            <button class="btn border-0 me-5" type="button" id="defaultDropdown" data-bs-toggle="dropdown" 
                    data-bs-auto-close="true" aria-expanded="false">
                <img src="/User.png" alt="User" width="48"></button>
            <ul class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="defaultDropdown">
                <li><a class="btn btn-sm btn-outline-dark border-0 w-100" href="/views/logout" role="button">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 class="d-flex justify-content-center mt-3">Shopping Cart</h1>
    <div id="productsContainer" class="d-flex flex-column mt-5">
        {{#if purchase}}
            {{#if success}}
                <div class="d-flex justify-content-center">
                    <div id="alert_success" class="alert alert-success">
                        <strong>{{success}}</strong>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center mt-3">
                    <h3>Your ticket details:</h3>
                    <ul class="list-group mt-2">
                        <li class="list-group-item">Order Number: {{ticket.code}}</li>
                        <li class="list-group-item">Purchase Date: {{ticket.purchase_date}}</li>
                        <li class="list-group-item">Amount: ${{ticket.amount}}</li>
                        <li class="list-group-item">Purchaser Email: {{ticket.purchaser}}</li>
                    </ul>
                </div>
            {{/if}}
            {{#if warning}}
            <div class="d-flex justify-content-center">
                    <div id="alert_warning" class="alert alert-warning">
                        <strong>{{warning}}</strong>
                    </div>
                </div>
            {{/if}}
            {{#if unprocessedProducts.length}}
                <div class="d-flex flex-column align-items-center mt-5">
                    <h3>Your cart has Unprocessed Products, due to missing Stock.</h3>
                </div>
            {{/if}}
        {{else}}
            {{#if products.length}}
                {{#each products}}
                <div class="card flex-row ms-2 my-2">
                    <h5 class="card-header fs-6 text-center d-flex align-items-center border-bottom-0">{{product.title}}</h5>
                    <table class="table table-striped table-borderless table-sm table-hover text-center m-0">
                        <thead>
                            <tr class="table-secondary border-bottom border-secondary">
                                <th>Description</th>
                                <th>Price</th>
                                <th>Code</th>
                                <th>Category</th>
                                <th>Stock</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{product.description}}</td>
                                <td>${{product.price}}</td>
                                <td>{{product.code}}</td>
                                <td>{{product.category}}</td>
                                <td>{{product.stock}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="card-footer d-flex flex-column justify-content-center align-items-center border-top-0">
                        <p class="fw-bold my-0">Quantity</p>
                        <p class="my-0">{{quantity}}</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <a class="text-center" href="/views/carts/{{../id}}/products/{{product.id}}" role="button">
                            <img class="mx-2" src="/delete.png" alt="Cart" width="32"></a>
                    </div>
                    <input type="hidden" value="productId_{{product.id}}" />
                </div>
                {{/each}}
                <form class="d-flex justify-content-end mt-3" action="/views/carts/{{id}}/purchase" method="get">
                    <button type="submit" class="btn btn-sm btn-light border fs-6 fw-bold">Purchase Order</button>
                </form>
            {{else}}
                <h2 class="d-flex justify-content-center mt-3">Your shopping cart is empty.</h2>
            {{/if}}
        {{/if}}
        <input type="hidden" value="cartId_{{id}}" />
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>