<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="/views/products">eCommerce</a>
        <div class="d-flex align-items-center">
            <div><a class="text-center" href="/views/carts/{{user.cart}}" role="button">
                <img src="/cart.png" alt="Cart" width="48"></a>
            </div>
            <div class="btn-group ms-3">
                <button class="btn border-0 me-5" type="button" id="defaultDropdown" data-bs-toggle="dropdown" 
                        data-bs-auto-close="true" aria-expanded="false">
                    <img src="/User.png" alt="User" width="48"></button>
                <ul class="dropdown-menu dropdown-menu-end p-0" aria-labelledby="defaultDropdown">
                    {{#if isAdmin}}
                        <li><a class="btn btn-sm btn-outline-dark border-0 w-100" href="/views/userManagement" role="button">User Management</a></li>
                    {{/if}}
                    <li><a class="btn btn-sm btn-outline-dark border-0 w-100" href="/views/logout" role="button">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{{#if error}}
    <div class="d-flex justify-content-center">
        <div id="alert_error" class="alert alert-danger">
            <strong>{{error}}</strong>
        </div>
    </div>
{{/if}}
<div class="container">
    {{#if user}}
      <div class="ms-5">
        <h3 class="text-primary text-opacity-75 mt-4">Welcome {{user.first_name}} {{user.last_name}}!</h3>
        <h5 class="text-primary text-opacity-75 ms-2 mt-1">Email: {{user.email}} - Age: {{user.age}}</h5>
        {{#if isAdmin}}
            <h5 class="text-danger text-opacity-75 ms-2 mt-1">Admin Role</h5>
        {{else}}
            <h5 class="text-danger text-opacity-75 ms-2 mt-1">User Role</h5>
        {{/if}}
      </div>
    {{/if}}
    <h1 class="d-flex justify-content-center text-dark text-opacity-75 mt-3">Products List</h1>
    <div id="productsContainer" class="d-flex flex-wrap justify-content-evenly mt-5">
        {{#if productList.length}}
        {{#each productList}}
        <div class="card ms-2 my-2 ">
            <h5 class="card-header d-flex justify-content-center">{{title}}</h5>
            <div class="card-body">
                <p>Description: {{description}}</p>
                <p>Price: ${{price}}</p>
                <p>Code: {{code}}</p>
                <p>Category: {{category}}</p>
                <p>Stock: {{stock}}</p>
            </div>
            <div>
                <form action="/views/carts/{{../user.cart}}/products/{{id}}" method="post">
                    <button type="submit" class="btn btn-sm btn-light border-top w-100">Add to Cart</button>
                </form>
            </div>
            <input type="hidden" value="productId_{{id}}" />
        </div>
        {{/each}}
        {{else}}
            <h2 class="d-flex justify-content-center mt-3">There are no products to display.</h2>
        {{/if}}
    </div>
    <div class="d-flex justify-content-end my-5">
        {{#if hasPrevPage}}
            <a type="button" class="btn btn-sm btn-light border border-2" href="/views/products?page={{prevPage}}">Previous</a>
        {{/if}}
        <p class="row align-items-center mx-3 my-0">Page {{page}} of {{totalPages}}</p>
        {{#if hasNextPage}}
            <a type="button" class="btn btn-sm btn-light border border-2 px-3" href="/views/products?page={{nextPage}}">Next</a>
        {{/if}}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>